<!-- here is for the footer -->
 <footer class="flex 
   bg-black text-white text-sm
    text-center
  flex-col
  items-center
    w-screen
h-fit
 absolute
 top-full
    space-x-3
    p-2
     row-span-full
       justify-between
   
     "
     >
      

     <!-- for the link -->
      <div class="link">
         <span>
             goldenLock
         </span>
         <span>
            goldenLock
        </span>
        <span>
            goldenLock
        </span>
      </div>
       
       <div class="maker">
       <i class="fas fa-copyright">
       </i>
        <span>
             Blah blah blah... 
        </span>
    </div>
    
 </footer>