<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
  />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
  <link rel="stylesheet" href="/css/all.css">
  <link rel="stylesheet" href="output.css">
    <title>By Relix_Co.</title>
   
</head>
<body  class=" 
relative
wrapper
grid
  w-screen
h-full2
" style="

 grid-template-rows: 80px 2fr 1fr ;" >
   

     
   <%- include('../partials/Header.ejs') %>
    <div
     class="m-auto
      p-8
       w-screen">

   <%- body%>
  </div>

   <%- include('../partials/footer.ejs') %>



 </body>
</html>