 

 
  
   <!-- list of btn to be testing the socket  -->
 
   <div class="massage">
    Lorem ipsum dolor sit amet consectetur 
    adipisicing elit. Porro possimus ipsa
     ducimus quos earum odio obcaecati quis 
     optio eligendi commodi totam dolores 
     voluptatum repudiandae sint reiciendis, laboriosam
     minus? Reprehenderit, officiis? 
    </div>

    <div class="massage">
      Lorem ipsum dolor sit amet consectetur 
      adipisicing elit. Porro possimus ipsa
       ducimus quos earum odio obcaecati quis 
       optio eligendi commodi totam dolores 
       voluptatum repudiandae sint reiciendis, laboriosam
       minus? Reprehenderit, officiis? 
      </div>


      <div class="massage">
        Lorem ipsum dolor sit amet consectetur 
        adipisicing elit. Porro possimus ipsa
         ducimus quos earum odio obcaecati quis 
         optio eligendi commodi totam dolores 
         voluptatum repudiandae sint reiciendis, laboriosam
         minus? Reprehenderit, officiis? 
        </div>




        <div class="massage">
          Lorem ipsum dolor sit amet consectetur 
          adipisicing elit. Porro possimus ipsa
           ducimus quos earum odio obcaecati quis 
           optio eligendi commodi totam dolores 
           voluptatum repudiandae sint reiciendis, laboriosam
           minus? Reprehenderit, officiis? 
          </div>




          <div class="massage">
            Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Porro possimus ipsa
             ducimus quos earum odio obcaecati quis 
             optio eligendi commodi totam dolores 
             voluptatum repudiandae sint reiciendis, laboriosam
             minus? Reprehenderit, officiis? 
            </div>



            <div class="massage">
              Lorem ipsum dolor sit amet consectetur 
              adipisicing elit. Porro possimus ipsa
               ducimus quos earum odio obcaecati quis 
               optio eligendi commodi totam dolores 
               voluptatum repudiandae sint reiciendis, laboriosam
               minus? Reprehenderit, officiis? 
              </div>


        
  
   

     
      

    <script src="socket.io-client.js">
</script>
