
 
   <% if (typeof message !== null && typeof message !== "undefine") { %>
    
   <div class="
   w-24
     p-5
      m-auto
      bg-white
      rounded-md
       
       text-center">
     <span> 
         
         <%= 
             message
              %>
     </span>
   </div>
   <% } %>
