 
  <style>
    .input-section input:focus ,
    .input-section input:valid~ label{
           top: -8px;
            
             font-size: 12px;
       }
  </style>
  
  <div class="w-screen
  bg-none
   flex 
    items-center
     h-full2
     ">
 <div class="wrapper
 w-96
 h-96
rounded-sm
 bg-transparent
m-auto 
 text-center
  border-solid
   border-1
">
<h1
class="
text-center
 text-3xl
  bg-orange-300
   p-2 
  "
> Recorvery-Password
<br>
 <span 
 class="warming-Massage
  text-sm
   text-red-700
    p-1"></span>
</h1>
 
      <div class="input-form
         backdrop-blur-2xl
           p-2 
        ">
           <form action="/user/recorvery" method="post" 
           >
   <div class="input-section 
      first-pw
   w-full
   p-2
    border-solid
    border-black
     border-b-2
     m-1 
   relative
   "> 
     <input
      
      type="password" name="Password" id="GhostPass"
     class="
      w-full
      bg-transparent
       outline-none
       border-none

  text-xl 
        font-semibold
        placeholder-black

         "
          placeholder="Password"
     required >
     

         
        <span id="ShowHide" class="show-hide
        absolute
         justify-center
        top-1/4
         right-2
          bg-slate-950
           rounded
            p-1
             cursor-pointer
             text-white
              mb-3
         ">
           show
        </span>
        
   </div>
<div class="input-section
second-pw
w-full
p-2
 border-solid
 border-black
 border-b-2
  m-1 
relative
"> 
  <input
  type="password" name="Password" id="GhostPass2"
  class="
   w-full
   bg-transparent
   outline-none
   border-none

     text-xl 
     font-semibold
      placeholder-black
      "
      placeholder="Confirm-Password"

  required >
   

      
    <!--  -->
     
</div>

     
 <div class="btn
  m-3">
     <button type="submit"
     id="sub-btn"
     class="
     bg-gray-800
    text-white
     p-3
      rounded-sm

     "> Save New Password</button>
 </div>

 
           </form>
          
      </div>
 </div> 
</div>

<script>
     
     const password = document.getElementById("GhostPass");
     const passwor2 = document.getElementById("GhostPass2");

   const showHide = document.getElementById("ShowHide");
   const typeofthing = password.type
    
      showHide.addEventListener("click",()=>{
        const typeofthing = password.type
           if(typeofthing ==="password"  ){
                   password.type ="text";
                    showHide.innerHTML = "Hide"
           }else{
            password.setAttribute("type","password");;
                    showHide.innerText = "Show"
           }
         
      })


    

         const firstpw = document.querySelector(".first-pw")
         const secondpw = document.querySelector(".second-pw")

        //  here is for the comparing
           passwor2.addEventListener("input",()=>{
             if(password.value === passwor2.value){
                 firstpw.classList.toggle("border-green-500")
                 secondpw.classList.toggle("border-green-500")
                 firstpw.classList.remove("border-red-800");
    secondpw.classList.remove("border-red-800");
                 console.log("hope is there")
                passwor2.setCustomValidity("");
             }else{
              firstpw.classList.remove("border-green-500");
    secondpw.classList.remove("border-green-500");
              firstpw.classList.add("border-red-800")
                 secondpw.classList.add("border-red-800")
              console.log("not equal")
              passwor2.setCustomValidity(" Not equal password");

             }
             
             
           })
        
               
    
</script>