<div class="
 preform
z-30
  fixed
  w-screen
  h-full2
  hidden
  left-0
  place-items-center
  place-content-center
box-content
  top-0
  bg-transparent
  backdrop-blur-sm
   ">
  
  <!-- for Parent -->
   <div class="
    parent
    bg-black
                rounded-md
                 w-32
                 hover:bg-white 
                 hover:text-black          
                         text-white
                   font-semibold
                    font-sans
                     p-3
 duration-150
 cursor-pointer

                     text-center">
                     Parent</div>
  <!-- for Teacher -->
   <div class="bg-black
   teacher
  rounded-md
   w-32
    text-white
    hover:bg-white 
    hover:text-black
    cursor-pointer

     font-semibold
     font-sans
     duration-150
     p-3
       text-center">Teacher</div>
    <!-- for Student -->
    <div class="bg-black
    student
    rounded-md
     w-32
     hover:bg-white 
      hover:text-black
      text-white
       font-semibold
       font-sans

        cursor-pointer
duration-150
       p-3
         text-center">Student</div>
 
</div>

<!-- so when there is a click the parentl -->
 