<div class="flex-wrap flex items-center justify-center  ">
 
     <!--  for a columns -->
     
     <div class="basis-1/2
      text-2xl text-black font-serif
      text-center
       rounded-md">
  <p>
     The world of Academia is in Danger and we are to save it
  </p>
     </div>
      
      <div class="basis-1/2
      bg-yellow-500 text-2xl text-black font-serif
       text-center
        rounded-md">
 <img class="w-full
   h-auto" src="Default-Profile.png" alt="">     </div>
     
 </div>