

  <!-- the option of the is signup -->

  <!--  here is for the preform for choosing wheather a student -->
 
 
 
  <div class="w-screen
  bg-none
   flex 
    items-center
     h-full2
     ">
 <div class="wrapper
 w-96
 h-96
rounded-sm
 bg-transparent
m-auto 
 text-center
  border-solid
   border-1
">
<h1
class="
text-center
 text-3xl
  bg-orange-300
   p-2"
> 
Make_Job_Opportunities
</h1>
 
      <div class="input-form
         backdrop-blur-2xl
           p-2 
        ">
         
           <form action="/admin/create_job" method="post">
   




   <div class="input-section 
      first-pw
   w-full
   p-2
    border-solid
    border-black
     border-b-2
     m-1 
   relative
   "> 
     <input
      
      type="text" name="Job_Title" id="GhostPass"
     class="
      w-full
      bg-transparent
       outline-none
       border-none
  text-xl 
        font-semibold
        placeholder-gray-400

         "
          placeholder="jog_name eg, teaching Twi"
     required >
   </div>

   
   <div class="input-section 
      first-pw
   w-full
   p-2
    border-solid
    border-black
     border-b-2
     m-1 
   relative
   "> 
     <input
      type="number" name="Number_Applicant" id="GhostPass"
     class="
      w-full
      bg-transparent
       outline-none
       border-none

  text-xl 
        font-semibold
        placeholder-gray-500

         "
          placeholder="Number_applicant_needed eg , 3,32 ...."
     required >
   </div>
    <!-- h -->

 <div class="btn
  m-3">
     <button type="submit"
     id="sub-btn"
     class="
     bg-gray-800
    text-white
     p-3
      rounded-sm
     "> Create_Job</button>
 </div>


           </form>
          
      
            
      </div>
 </div> 
</div>

<script>
     
     








            

    
    
</script>